/* nav related styles */

nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;
}

nav li:hover{
    background-color: lightgray;
}

nav li a{
    text-decoration: none;
    color: black;
}

/* nested menu style */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: bisque;
    padding-left: 10px;
    
     
}

nav li:hover > .dropdown{
    display: block;
    /* display block means to show after hover */
}

